:root{
    font-family: Marvel;
    /* colours taken from https://www.color-hex.com/color-palette/6563 */
    --marvelBlue: #518cca;
    --marvelRed: #e23636;
    --marvelOrange: #f78f3f;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

body {
    margin: 0;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 30px;
    background:url(https://images5.alphacoders.com/399/399453.jpg);
    background-position: 40% 55%;
    background-size: cover;
    height: 500px;
}

header .header-image {
    width:30%;
    min-width: 280px; /* maintain width when browser shrinks */
    height:auto;
    border: 4px solid var(--marvelBlue);
    border-radius: 20px;    
}

header #title {
    font-family: Marvel; /* font from cssfontstack.com */
    margin-left: 20px;
    padding: 6px;
    font-size: 42px;
    border: 2px solid var(--marvelBlue);
    text-shadow: #000 2px 2px 0px;
    background-color: rgba(237,29,36, 0.8);
    color:white;
}

.empty-item {
    width: 22vw;  
}

.year-item {
    display: inline;
    list-style-type: none;
    background-color:red;
}

.hr {
    height: 1.74vw;
    background: rgba(255, 255, 255, 0.1) url(https://cdn4.iconfinder.com/data/icons/famous-characters-add-on-vol-1-flat/48/Famous_Character_-_Add_On_1-14-512.png) scroll center;
    background-size: 2.6%; /* shrink original image (512px) to use as hr */
    margin-bottom: 1vh;
}

.hr hr {
    display:none;
}

#img-div {
    float:left;
    margin-left: 10px;
}

#image {
    width: 30vw;
    height: auto;
    border-radius: 5px;
}

#img-caption {
    float:right;
    width: 68%;
    height: auto;   
}

#caption {
    font-size: 2.2vw;
    font-style: italic;
    padding: 2%;
    padding-bottom: 0px;
    font-weight: 700;
}

#tribute-info {
    float: right;
    width: 67%;
    height:auto;
    margin: 0.5%;
}

.tribute-text {
    font-size: 1.25vw;
    font-family: 'Times New Roman', Times, serif;
}

#quote {
    float:right;
}

#quote blockquote {
    text-align: right;
}

#quote blockquote span {
    font-size: 100px;
    line-height: 0.1em;
    opacity: 0.9;
}

#quote blockquote span::after {
    content: " - Stan Lee";
    font-weight:bold;
    font-size: 20px;
    color: var(--marvelBlue); 
}

.timeline {
    clear: both;
    padding: 2%;
}

#timeline-title {
  font-size: 48px;
  margin: 0;  
}

.timeline ul{
    font-size:24px;
}

.timeline ul li {
    padding: 1.5vh;
    text-shadow: 2px 2px 2px rgb(0,0,0, 0.1);
}

.hidden {
    border-bottom: 2px dotted #000;
}

.hidden img {
    display:none;
    max-width: 300px;
}

.hidden:hover img {
    display:inline-block;
    float: right;
}

#spiderman-quote {
    display:flex;
    justify-content: center;
}

#spiderman-quote blockquote {
    border-left: 10px solid var(--marvelBlue);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 1px 1px var(--marvelRed);
    color: var(--marvelRed);
    position:relative;
}

#spiderman-quote blockquote::before {
    content: open-quote;
    color: var(--marvelOrange);
    font-size: 5em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.4em;
}

#spiderman-quote blockquote::after {
    content: url(https://upload.wikimedia.org/wikipedia/commons/1/15/Signature_of_Stan_Lee.svg);
    position: absolute;
    left: 21em;
    top: 2vw;
}

#tribute-link {
    display:flex;
    justify-content: center;
}

/** stack header title on top of header image **/
@media (max-width:700px) {
    header {
        height:400px;
        flex-flow: column-reverse;
    }
}

/** shrink ironman HR accordingly**/
@media (max-width: 763px) {
    #hr {
        height: 4vw;
        background-size: 5%;
    }
}

/** adjust stan lee's quote and signature **/
@media (max-width: 1166px) {
    #spiderman-quote blockquote {
        transform: scale(0.8);
    }
}

/** adjust positioning of signature further to right due to window resize **/
@media (max-width:813px) {
    #spiderman-quote blockquote::after {
        left: 65vw;
    }
}

/** re-size quote and tribute text **/
@media (max-width:1077px) {
    #quote {
        transform: scale(0.6);
    }
    .tribute-text {
        font-size: 14px;
    }
}

/** centers image and tribution info section on re-size**/
@media (max-width: 771px) {
    #img-div {
        margin-left: 35%;
        float:none;
    }

    #img-caption {
        margin:auto;
        float:none;
    }
    
    #caption {
        font-size: 14px;
    }

    #tribute-info {
        margin:auto;
        float:none;
    }

}